<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#add8e6">
<center>
<form action="./update">
    ProductId:<input type="text" name="t1" value={{ pid}}><br>
    ProductName:<input type="text" name="t2" value={{ pname}}><br>
    ProductCost:<input type="text" name="t3" value={{ pcost}}><br>
    Productmfdt:<input type="text" name="t4" value={{ pmfdt}}><br>
    Productexpdt:<input type="text" name="t5" value={{ pexpdt}}><br>
    <input type="submit" value="update">

</form>
</center>
</body>
</html>